.logo{
    float: left;
   
}
ul{ 
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
li{
    font-size: 20px;
    color: white;
    float: right;
    list-style: none;
    padding-right: 25px;
}
header{
    padding-right: 100px;
    padding-left: 100px;
}