
header{
    padding-right: 100px;
    padding-left: 100px;
}
.logo{
    float: left;
    width: 40vh;
}
ul{ 
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
li{
    font-size: 1.5em;
    color: white;
    float: right;
    text-align: center;
    list-style: none;
    padding-right: 25px;
}


    

    



