*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    }
body{
   
    background-image: url(./Images/background.png);
}


.logo{
    float: left;
   
}
ul{ 
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
li{
    font-size: 20px;
    color: white;
    float: right;
    list-style: none;
    padding-right: 25px;
}
header{
    padding-right: 100px;
    padding-left: 100px;
}

.pag1{
    margin-top: 100px;
    padding-right: 100px;
    padding-left: 100px;
    position: relative;
    /* border:5px solid #fff; */
}

.tx1{
    padding-top: 10px;
    text-align: left;
    color:#fff;
}
.artistas{
    position: absolute;
    width: 150px;
}
#txart{
    position: absolute;
    left: 250px;
    color: #fff;
    padding-top: 15px;    
   
}
h1{
    position: absolute;
    right: 50%;
    top: 0;
    color:whitesmoke;
    font-size: 35px;
    padding-right: 30px;
    transform: translateX(50%);
}
.badge{
    position: absolute;
    width: 150px;
    right: 0;
    top: 0;
    padding-top: 15px;
    padding-right: 100px;
    
}
.red{
    color:#ff5b50;
}
.images{
    text-align: center;
    margin-top: 100px;
}
.gallery{
    width: 23%;
    border: 1px solid #fff;
    margin:8px;
    margin-bottom: 30px;
    
}
.pag2{
    background: #0e0e0e;
    position: relative;
    padding-top: 100px;
}
.numbers p {
    padding-bottom: 30px;
    color: gray;
    padding-left: 100px;
    
}
.numbers{
    border-bottom:  1px  solid gray;
    height: 350px;
}
.strongK{
    font-size: 35px;
    color:#fff; 
    font-weight: bold;
    
}
.paragraph1,.paragraph2{
    padding-top: 100px;
    position: absolute;
    width: 400px;
    color: #fff;
    top: 0;
    padding-left: 50px;
}
.paragraph1{
    left: 700px;
}

.paragraph2{
    right: 650px;
    border-left: 1px solid gray;
    padding-left: 10px;
    padding-bottom: 25px;

}
a{
    color: #fff;
}

.banner{
    position: absolute;
    right: 0;
    width: 79.4%;
    height: 200px;
    object-fit:cover;
    top: 0;
    padding-top: 250px;
    object-position: 5px -60%;
    
}
.pag3{
    background: #0e0e0e;
    position: relative;
    height: 1000px;
    
}
.pag3 h2{
    color: #fff;
    font-size: 35px;
    padding: 100px;
    
}
.gallery_container{
    position: absolute;
    padding-left: 100px;
    padding-right: 100px;
    left:0;
    
}
.astronaut{
    color:white;
    font-weight: bold;
   
}
.arrows{
    margin-left:192px;
    width: 15px;
    
}
.creators{
    color:grey;
    position: absolute;
}
.RKT{
    color: #ff5b50;
    padding-bottom: 35px;
    float: right;
    
}

.gallery2{
    position: absolute;
    width: 310px;
    top: 80px ;

      
}

.gallery_container2{
    position: absolute;
    padding-left: 100px;
    padding-right: 100px;
    right: 0;
    
}
.gallery_container2 .arrows, .gallery_container3 .arrows{
    margin-left:189px;
}
.gallery_container3{
    position: absolute;
    padding-left: 100px;
    padding-right: 100px;
    top:55%;

}
.gallery_container4{
    position: absolute;
    padding-left: 100px;
    padding-right: 100px;
    top:55%;
    right: 0;

}
.gallery_container4 .arrows{
    margin-left: 187px;
}
.vl{
    border-left:1px solid grey;
    position: absolute;
    right: 50%;
    height: 620px;
}
.pag4{
    background: #0e0e0e;
    position: relative;
    padding-left: 100px;
    padding-right: 100px;
    height: 600px;
}
.pag4 h2{
    color: #fff;
    font-size: 35px;
    text-align: center;
    padding-bottom: 100px;
}

.box_container img{
   
    padding-top: 10px;
    padding-left:20px;
    
}
.box_container p{
    color: #fff;
    position: absolute;
    padding-top: 50px;
    margin-left: 160px;
}

.box_container div:hover{
    background: #ff5b50;
}

.box_container div:hover .red{
    color: #fff;
}
.creator_box0{
    position: absolute;
    width: 300px;
    height: 120px;
    margin-bottom: 100px;
    background-color: #252525;;
}
.creator_box1{
    position: absolute;
    left: 520px;
    width: 300px;
    height: 120px;
    background-color: #252525;
}

.creator_box2{
    position: absolute;
    right: 0;
    width: 300px;
    height: 120px;
    margin-right: 100px;
    background-color: #252525;
}
.creator_box3{
    position: absolute;
    top: 300px;
    width: 300px;
    height: 120px;
    background-color: #252525;
}
.creator_box4{
    position: absolute;
    left: 520px;
    top: 300px;
    width: 300px;
    height: 120px;
    background-color: #252525;
}
.creator_box5{
    position: absolute;
    top: 300px;
    right:0;
    width: 300px;
    height: 120px;
    margin-right: 100px;
    background-color: #252525;
}
.ltx{
    position: absolute;
    bottom: 100px;
    right: 50%;
    color: white;
    transform: translateX(50%);
}
.orangearrow{
    position: absolute;
    bottom: 102px;
    right: 42%;
    width: 13px;
}
.pag5{
    position: relative;
    height: 1000px;
    padding-left: 100px;
    padding-right: 100px;
    background:#252525;
}
.symbol{
    padding-top: 100px;
    padding-bottom: 100px;
    width: 250px;
   
}
.pag5 hr{
   border-width: 1px 0px 0px 0px;
   border-color: grey;
   border-style: solid;
   padding: 0;

}

