*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    }
body{
   
    background-image: url(./Images/background.png);
}


.logo{
    float: left;
   
}
ul{ 
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
li{
    font-size: 20px;
    color: white;
    float: right;
    list-style: none;
    padding-right: 25px;
}
header{
    padding-right: 100px;
    padding-left: 100px;
}

.pag1{
    margin-top: 100px;
    padding-right: 100px;
    padding-left: 100px;
    position: relative;
    /* border:5px solid #fff; */
}

.tx1{
    padding-top: 10px;
    text-align: left;
    color:#fff;
}
.artistas{
    position: absolute;
    width: 150px;
}
#txart{
    position: absolute;
    left: 250px;
    color: #fff;
    padding-top: 15px;    
   
}
h1{
    position: absolute;
    right: 50%;
    top: 0;
    color:whitesmoke;
    font-size: 35px;
    padding-right: 30px;
    transform: translateX(50%);
}
.badge{
    position: absolute;
    width: 150px;
    right: 0;
    top: 0;
    padding-top: 15px;
    padding-right: 100px;
    
}
.red{
    color:#ff5b50;
}
.images{
    text-align: center;
    margin-top: 100px;
}
.gallery{
    width: 23%;
    border: 1px solid #fff;
    margin:8px;
    margin-bottom: 30px;
    
}
.pag2{
    background: #0e0e0e;
    position: relative;
    
    padding-top: 100px;
}
.numbers p {
    padding-bottom: 30px;
    color: gray;
    padding-left: 100px;
    
}
.numbers{
    border-bottom:  1px  solid gray;
    height: 350px;
}
.strongK{
    font-size: 35px;
    color:#fff; 
    font-weight: bold;
    
}
.paragraph1,.paragraph2{
    padding-top: 100px;
    position: absolute;
    width: 400px;
    color: #fff;
    top: 0;
    padding-left: 50px;
}
.paragraph1{
    left: 700px;
}

.paragraph2{
    right: 650px;
    border-left: 1px solid gray;
    padding-left: 10px;
    padding-bottom: 25px;

}
a{
    color: #fff;
}

.banner{
    position: absolute;
    right: 0;
    width: 79.4%;
    height: 200px;
    object-fit:cover;
    top: 0;
    padding-top: 250px;
    object-position: 5px -60%;
    
}
.pag3{
    height: 1000px;
    /* width: 1000px; */
    background: #0e0e0e;
    position: relative;
}
.pag3 h2{
    color: #fff;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px ;
    
}
.gallery_container{
    position: absolute;
    /* width: 100%; */
    padding-left: 100px;
    padding-right: 100px;
    
}
.astronaut{
    color:white;
    font-weight: bold;
    
}
.arrows{
    width: 15px;
}
.creators{
    color:grey;
    padding-top: 10px;
}
.RKT{
    color: #ff5b50;
    margin-left: 25px;
}

.gallery2{
    position: absolute;
    width: 310px;
    top: 80px ;
    left: 100px;
    
}

.gallery_container2{
    position: absolute;
    /* width: 100%; */
    padding-left: 100px;
    padding-right: 250px;
    right: 0;
    
    
    
}
